<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
	<!-- below are reference external distributed service here -->
	<!-- !!! not recommend reference -->
	
	<!-- example external distributed service -->
	<!-- dubbo:reference id="testId" registry="testRegistry"
		owner="testOwner" interface="com.huatek.test.TestServiceClient"
		version="1.0.0" protocol="dubbo" timeout="100000" init="true" / -->
</beans>